---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import LogoCloud from "../components/LogoCloud.astro";
import Benefits from "../components/Benefits.astro";
import FeaturesCarousel from "../components/FeaturesCarousel.astro";
import SpecificationsTable from "../components/SpecificationsTable.astro";
import Testimonial from "../components/Testimonial.astro";
import HowItWorks from "../components/HowItWorks.astro";
import HeroImage from "../components/HeroImage.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<Layout title="Area - Browse Everything">
  <div class="min-h-screen">
    <Navigation />
    <Header />
    <LogoCloud />
    <Benefits />
    <FeaturesCarousel />
    <SpecificationsTable />
    <Testimonial />
    <HowItWorks />
    <HeroImage />
    <CTA />
    <Footer />
  </div>
</Layout>
