---
interface Props {
  data: {
    image: string;
    alt: string;
  };
}

const { data } = Astro.props;
---

<section class="w-full max-w-[1500px] mx-auto px-10 pb-10">
  <div class="aspect-[1120/620] max-h-[830px] rounded-[30px] overflow-hidden">
    <img
      src={data.image}
      alt={data.alt}
      class="w-full h-full object-cover"
    />
  </div>
</section>
